version: '3'

services:
  app:
    build: .
    ports:
      - "${PORT:-8080}:8080"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: 