-- +goose Up
-- +goose StatementBegin
-- Create indexes for {{.Name}}
{{- range .Fields}}
{{- if hasSuffix .Name "_id"}}
CREATE INDEX IF NOT EXISTS idx_{{toLower .Name}}s_{{toLower .Name}} ON {{toLower .Name}}s({{toLower .DbName}});
{{- end}}
{{- end}}
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
{{- range .Fields}}
{{- if hasSuffix .Name "_id"}}
DROP INDEX IF EXISTS idx_{{toLower .Name}}s_{{toLower .Name}};
{{- end}}
{{- end}}
-- +goose StatementEnd 