-- +goose Up
-- +goose StatementBegin
-- Create {{.Name}}s table
CREATE TABLE IF NOT EXISTS {{toLower(.Name)}}s (
    id BIGSERIAL PRIMARY KEY,
    {{- tableName := .Name}}
    {{- range .Fields}}
    {{- field := .}}
    {{- if field.Name != "Id"}}
    {{toLower(field.DbName)}} {{field.SqlType}}
        {{- if hasSuffix(toLower(field.Name), "id")}}
            {{- if existsTable(trimSuffix(field.Name, "Id"))}}
                REFERENCES {{toLower(trimSuffix(field.Name, "Id"))}}s(id) ON DELETE CASCADE
            {{- end}}
        {{- end}},
    {{- end}}
    {{- end}}
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Create indexes for ID fields
{{- range .Fields}}
{{- field := .}}
{{- if hasSuffix(toLower(field.Name), "_id")}}
-- CREATE INDEX IF NOT EXISTS idx_{{toLower(tableName)}}s_{{toLower(field.Name)}} ON {{toLower(tableName)}}s({{toLower(field.Name)}});
{{- end}}
{{- end}}
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE IF EXISTS {{toLower(.Name)}}s;
-- +goose StatementEnd 