-- +goose Up
-- +goose StatementBegin
-- Create {{.Name}}s table
CREATE TABLE IF NOT EXISTS {{toLower(.Name)}}s (
    id BIGSERIAL PRIMARY KEY,
    {{- range .Fields}}
    {{- if .Name != "id" }}
    {{toLower(.DbName)}} {{.SqlType}},
    {{- end}}
    {{- end}}
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE IF EXISTS {{toLower(.Name)}}s;
-- +goose StatementEnd 