-- +goose Up
-- +goose StatementBegin
-- Create foreign keys and indexes for {{.Name}}
{{- range .Fields}}
{{- if hasSuffix(.Name, "_id")}}
ALTER TABLE {{toLower(.Name)}}s 
    ADD CONSTRAINT fk_{{toLower(.Name)}}s_{{toLower(.Name)}} 
    FOREIGN KEY ({{toLower(.DbName)}}) 
    REFERENCES {{toLower(trimSuffix(.Name, "_id"))}}s(id) 
    ON DELETE CASCADE;

CREATE INDEX IF NOT EXISTS idx_{{toLower(.Name)}}s_{{toLower(.Name)}} 
    ON {{toLower(.Name)}}s({{toLower(.DbName)}});
{{- end}}
{{- end}}
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
{{- range .Fields}}
{{- if hasSuffix(.Name, "_id")}}
ALTER TABLE {{toLower(.Name)}}s 
    DROP CONSTRAINT IF EXISTS fk_{{toLower(.Name)}}s_{{toLower(.Name)}};

DROP INDEX IF EXISTS idx_{{toLower(.Name)}}s_{{toLower(.Name)}};
{{- end}}
{{- end}}
-- +goose StatementEnd 