-- +goose Up
-- +goose StatementBegin
-- Add foreign keys and indexes for {{.Name}}
{{ tableName := toLower(.Name) }}
{{- range .Fields}}
{{- if hasSuffix(.Name, "_id")}}
ALTER TABLE {{tableName}}s 
    ADD CONSTRAINT fk_{{tableName}}s_{{toLower(.Name)}} 
    FOREIGN KEY ({{toLower(.DbName)}}) 
    REFERENCES {{toLower(trimSuffix(.Name, "_id"))}}s(id) 
    ON DELETE CASCADE;

CREATE INDEX IF NOT EXISTS idx_{{tableName}}s_{{toLower(.Name)}} 
    ON {{tableName}}s({{toLower(.DbName)}});
{{- end}}
{{- end}}
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
{{- range .Fields}}
{{- if hasSuffix(.Name, "_id")}}
ALTER TABLE {{tableName}}s 
    DROP CONSTRAINT IF EXISTS fk_{{tableName}}s_{{toLower(.Name)}};

DROP INDEX IF EXISTS idx_{{tableName}}s_{{toLower(.Name)}};
{{- end}}
{{- end}}
-- +goose StatementEnd 