-- +goose Up
-- +goose StatementBegin
-- Create indexes for {{.Name}}
{{- range .Fields}}
{{- field := .}}
{{- if hasSuffix(toLower(field.Name), "_id")}}
CREATE INDEX IF NOT EXISTS idx_{{toLower(.Name)}}_{{toLower(field.Name)}} ON {{toLower(.Name)}}s({{toLower(field.DbName)}});
{{- end}}
{{- end}}
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
{{- range .Fields}}
{{- field := .}}
{{- if hasSuffix(toLower(field.Name), "_id")}}
DROP INDEX IF EXISTS idx_{{toLower(.Name)}}_{{toLower(field.Name)}};
{{- end}}
{{- end}}
-- +goose StatementEnd 