package repository

import (
	"github.com/jmoiron/sqlx"
	sq "github.com/Masterminds/squirrel"

	{{- range .}}
	{{toLower .Name}}Repository "app/internal/repository/{{toLower .Name}}"
	{{- end}}
)

// Repository объединяет все репозитории в единый интерфейс
type Repository struct {
	db *sqlx.DB

	{{- range .}}
	{{.Name}} *{{toLower .Name}}Repository.{{.Name}}Repository
	{{- end}}
}

// NewRepository создает новый экземпляр Repository
func NewRepository(db *sqlx.DB) *Repository {
	// Инициализируем squirrel с долларовой нотацией для PostgreSQL
	sq.StatementBuilder = sq.StatementBuilder.PlaceholderFormat(sq.Dollar)

	return &Repository{
		db: db,
		{{- range .}}
		{{.Name}}: {{toLower .Name}}Repository.New{{.Name}}Repository(db),
		{{- end}}
	}
} 