package repository

import (
    "github.com/jmoiron/sqlx"
    sq "github.com/Masterminds/squirrel"
    {{range .}}
    {{toLower .Name}}Repository "app/internal/repository/{{toLower .Name}}"
    {{end}}
)

type Repository struct {
    db *sqlx.DB
    {{range .}}
    {{.Name}} *{{toLower .Name}}Repository.{{.Name}}Repository
    {{end}}
}

func NewRepository(db *sqlx.DB) *Repository {
    // Initialize squirrel with dollar placeholder
    sq.StatementBuilder = sq.StatementBuilder.PlaceholderFormat(sq.Dollar)

    return &Repository{
        db: db,
        {{range .}}
        {{.Name}}: {{toLower .Name}}Repository.New{{.Name}}Repository(db),
        {{end}}
    }
} 